Redator de email.json
{
  "name": "Redator de email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        192
      ],
      "id": "23c3be96-9693-452a-aa9a-6bfc1c7ccf7a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "BLMafCytxZGUU6WA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        416
      ],
      "id": "20358cd7-5d06-4141-add8-055956287497",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mAHydcbrXfaweMFz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=snippet: {{ $json.snippet }}\nsubject: {{ $json.Subject }}",
        "messages": {
          "messageValues": [
            {
              "message": "=#ROLE\nVocê é um filtro da caixa de emails, e seu papel é analisaro texto do email recebido e verificar se é alguma dúvida de cliente ou parceiro. Caso seja algum cliente com alguma dúvida, ou algo importante, retorne apenas \"true\". Caso contrário, se for um email de spam como linkedin, gocase, youtube etc. retorne apenas \"false\".\n\n#RULES\n-Nunca retorne nada que não seja um true ou um false.\n-Seu papel não é responder ao email.\n-Você é apenas um filtro."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -304,
        192
      ],
      "id": "cdfa2475-ce59-4bda-beea-d35957e2b8f9",
      "name": "É Cliente?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4a57695-fe5f-4a28-aa5c-95a46d207c67",
              "leftValue": "={{ $json.text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        192
      ],
      "id": "406e4932-8bec-4746-baff-a3e128f9a1f1",
      "name": "Condicional"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        336
      ],
      "id": "39ba31f5-af9b-4683-a310-b687e61cbae4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.Subject }}\nSnippet: {{ $('Gmail Trigger').item.json.snippet }}\nFrom: {{ $('Gmail Trigger').item.json.From }}\nGere uma resposta usando sua base de conhecimento.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#ROLE\nVocê é uma IA respondedora de emails. Seu papel, é responder a dúvida do cliente de forma mais clara e humanizada possível.\nVocê deve retornar sua saída em JSON com subject (tema da resposta) e message (a mensagem em si).\n\n#RULES\n-Nunca fuja do padrão JSON.\n-Se não tiver uma informação, não tema em dizer que não sabe."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        256,
        -64
      ],
      "id": "2bf6fe06-340a-4916-a7ab-d0f80f2567e3",
      "name": "Redator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        160
      ],
      "id": "5d062f80-bcfa-442e-bf53-10ef8c92a26e",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "mAHydcbrXfaweMFz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"California\",\n\t\"message\":\"Olá bom dia\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        480,
        160
      ],
      "id": "f123830e-2f1f-4ab6-8641-1b94932a3e2b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "sendTo": "={{ $('Gmail Trigger').item.json.To.split('<')[1].replace('>','') }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -64
      ],
      "id": "246cca42-dba3-445d-9da2-ce78355e312d",
      "name": "Salvar Resposta como Rascunho",
      "webhookId": "77edea62-5422-46d3-baac-c42732824b9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "BLMafCytxZGUU6WA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        368,
        160
      ],
      "id": "c2af6a93-0ca1-4ada-b6c7-1cce7d0c451c",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "É Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "É Cliente?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "É Cliente?": {
      "main": [
        [
          {
            "node": "Condicional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condicional": {
      "main": [
        [
          {
            "node": "Redator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Redator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redator": {
      "main": [
        [
          {
            "node": "Salvar Resposta como Rascunho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Redator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Redator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32f253ba-41c2-4af7-8a08-339253487d86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bee7877d59471bef06ae66bc161cd22b2af901127665b1c022db8c83f56b09f3"
  },
  "id": "lG9etzgCVoMO3lFJ",
  "tags": []
}